<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:derby://localhost/database</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>startup</welcome-file>
    </welcome-file-list>
    <display-name>Shopping Cart</display-name>
    <description>
    Simple Shopping Cart
  </description>
    <servlet>
        <servlet-name>ItemsServlet</servlet-name>
        <servlet-class>servlet.ItemsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemsServlet</servlet-name>
        <url-pattern>/ItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemUpload</servlet-name>
        <servlet-class>servlet.ItemUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemUpload</servlet-name>
        <url-pattern>/ItemUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>managerHandle</servlet-name>
        <servlet-class>servlet.managerHandle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>managerHandle</servlet-name>
        <url-pattern>/managerHandle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>servlet.deleteItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
</web-app>
