/ESDAssignment/build/
/ESDAssignment/nbproject/private/
/ESDAssignment/dist/
ESDAssignment/web/index.jsp
ESDAssignment/web/index.jsp
/testing/nbproject/private/
/testing/build/
/ESDAssignment2/nbproject/private/
/ESDAssignment2/build/
ESDAssignment/web/MemberShip.jsp
ESDAssignment/web/MemberShip.jsp
/ESDAssignment2/dist/
ESDAssignment2/src/java/db/OrdersDB.java
ESDAssignment2/src/java/db/UserDB.java