/ESDAssignment/build/
/ESDAssignment/nbproject/private/
/ESDAssignment/dist/
ESDAssignment/web/index.jsp
ESDAssignment/web/index.jsp
/testing/nbproject/private/
/testing/build/
/ESDAssignment2/nbproject/private/
/ESDAssignment2/build/