/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016年11月15日, 下午11:44:28
    Author     : lichi
*/
body{
    font-family: Arial;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    display: inline-block;
}

/**** section ****/
.header{
    position: static;
    height: 60px;
    width: auto;
}

.logo{
    height: auto;
    position: static;
}
/**** section ****/

.brand{
    height: auto;
    font-size: 120px;
    text-align: center;
    padding: 100px;
}
.brand2{
    height: auto;
    font-size: 200px;
    text-align: center;
    padding: 150px;
}

#bg{
    height: 47px;
    width: auto;
    background-color: black;
    z-index: -1;
/*    background: rgb(255,153,29);  Old browsers 
    background: -moz-linear-gradient(left,  rgba(255,153,29,1) 0%, rgba(255,1,147,1) 100%);  FF3.6-15 
    background: -webkit-linear-gradient(left,  rgba(255,153,29,1) 0%,rgba(255,1,147,1) 100%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to right,  rgba(255,153,29,1) 0%,rgba(255,1,147,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff991d', endColorstr='#ff0193',GradientType=1 );  IE6-9 */
}

/**** search bar ****/
.search-bar{
    height: 70px;
    padding-top: 50px;
    margin: auto 20px;
}

.center-search-bar{
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
}

.search-box{
    margin-left: 0px;
    width: calc(100% - 120px);
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search-btn{
    background-color: #ccc;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 120px;
    float: right;
    font-size: 19px;
    padding: 12px 20px 12px 20px;
}
.search-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.search-btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.search-btn:hover span {
  padding-right: 25px;
}

.search-btn:hover span:after {
  opacity: 1;
  right: 0;
}
/**** search bar ****/



/***************navbar button********************/
.navbar:link, .navbar:visited {
    background-color: black;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    float: right;
    height: auto;
}


.navbar:hover, .navbar:active {
    background-color: darkgrey;
}
/***************navbar button********************/

/***************text color***********************/
#font-red{
    color: #0060B2;
}

.brand-name{
    color: black;
}
/***************************************/

#order{
    height: 46px;
    width: 80%;
    margin:0 auto;
    text-align: center;
}
#btn{
   border-radius: 4px;
   background-color: #CCC;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#item1{
width:26%;
padding: 10px;
margin-bottom: 5px;
height:280px;
text-align:center;
font-size:15px;
margin-right:5px;
color:#ffffff;
font-weight:bold;
background-color:#cecece;
float:left;
}
#item2{
width:26%;
float:left;
height:280px;
text-align:center;
margin-right:50px;
font-size:15px;
font-weight:bold;
margin-left:120px ;
background-color:#CCC;
}
#item3{
width:26%;
padding: 10px;
margin-left: 80px;
height:280px;

margin-right:5px;
color:#ffffff;
background-color:#cecece;
float:left;

}
#iteminfo{
    width:26%;
    margin: 0px auto;
    height:280px;
    text-align: center;
    
}

#container{
    width:80%;
    margin:0px auto;
}
#container-middle{
    width:50%;
    margin:0px auto;
}
img{
max-width:100%;
max-height:100%;
    
}

/****manager : add item****/
.additem{
    border: 3px solid black;
    margin: auto;
    width: 50%;
    padding: 20px;
}

.input-add{
    font-size: 20px;
    padding: 15px;
    width: 100%;
}

label{
    font-size: 26px;
    font-weight: bold;
}

.formadd{
    margin: auto 50px;
}

input[type=text] {
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

select{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.additem-submit{
    width: 100%;
    background-color: #0060B2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/****manager : add item****/

/****index : center****/
.index-center{   
    height: 500px;
}

.index-center .index-center-left{
    width: 50%;
    height: 500px;
    position: absolute;
}
.index-center .index-center-right{
    width: 50%;
    height: 500px;
    float: right;
    position: relative;
}

.cover-page{
    background: url(../img/cover/Walking-Heads.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/**********/

.cover-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #0060B2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  height: auto;
  width: auto;
  position: relative;
  margin: 50px 10px 10px 325px;
}
.cover-btn2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #0060B2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  height: auto;
  width: 300px;
  position: relative;
  margin: 50px 10px 10px 25px;
}

.cover-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cover-btn span:after {
  content: "Let's go!";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.cover-btn2 span:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.cover-btn:hover span {
  padding-right: 130px;
}
.cover-btn2:hover span {
  padding-right: 0px;
}

.cover-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.a-white{
    color: white;
}
/****index : center****/

/****MemberShip****/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*****admin page*****/
.adminitemmt {
	background-color:#a3a3a3;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:2px solid #878787;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:18px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a1a1a1;
}
.adminitemmt:hover {
	background-color:#878787;
}
.adminitemmt:active {
	position:relative;
	top:1px;
}
/*****admin page*****/

